body {
    background-color: black;
    color: wheat;
    font-family: 'Oswald', sans-serif; /* Appliquer la police Oswald au corps */
    background-image: url('/img/baleine-bosse-sautant-au-dessus-mer-ai-generative.jpg'); /* Remplacez par le chemin réel vers votre image */
    background-size: cover;
}



.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 5px 20px 5px 20px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    backdrop-filter: blur(20px);
  }
  
  /* Ajoutez d'autres styles au besoin pour les classes title-logo, link-title, input-title, button-connexion */
  

    
    .link-title a {
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
        padding: 20px;
        transition: all 0.3s ease-out;    }
    
    .link-title a:hover {
        background-color: burlywood;
        border-radius: 30px 30px 30px 30px;
        color: #fff;
    }

    .input-title{
     display: flex;
     align-items: center;
    }

    #site-search {
        background-color: transparent; /* Fond transparent */
        color: #fff;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 10px; /* Ajuste la position par rapport au bouton */
      width: 200px; /* Ajuste la largeur selon tes besoins */

    }

    #search-btn {
        background-color: transparent; /* Fond transparent */
        border: 1px #fff; /* Couleur de la bordure */
        border-radius: 30px 30px 30px 30px;
        cursor: pointer;
        color: #fff; /* Couleur du texte */
        transition: all 0.3s ease-out;      
          padding: 10px;
        display: flex;
        align-items: center;
        margin-left: 10px;

    }
    #search-btn:hover {
        background-color: burlywood;
        color: #fff;
    }


.img-main {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 50%;
    position: relative;
}

.title-main {
    font-size: 5rem;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
